<nav class="navbar navbar-default navbar_panel">
    <div class="container-fluid">
        <p class="navbar_brand_text">Opteamer</p>

        <div class="navbar_link_container">
            <a
                routerLink="/patients"
                *ngIf="(isLoggedIn | async)"
            >
                <span class="navbar_link_text">Patients</span>
            </a>
            <a
                routerLink="/team-members"
                *ngIf="(isLoggedIn | async)"
            >
                <span class="navbar_link_text">Team members</span>
            </a>
            <a
                routerLink="/operation-types"
                *ngIf="(isLoggedIn | async)"
            >
                <span class="navbar_link_text">Operation types</span>
            </a>
            <a 
                routerLink="/"
                *ngIf="!(isLoggedIn | async)"
            >
                <span class="navbar_link_text">Login</span>
            </a>
            <a 
                (click)="logout()"
                *ngIf="(isLoggedIn | async)"
            >
                <span class="navbar_link_text">Logout</span>
            </a>
        </div>
    </div>
</nav>